.profile-cards {
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 2em;
  max-width: 800px;
  justify-content: center;
  margin: auto;
}

.profile-cards .madeby {
  display: none;
}

@media (max-width: 900px) {
  .profile-cards {
    grid-template-columns: auto;
  }
}

