@font-face {
    font-family: 'Olga-Regular';
    src: url('https://karmelova.github.io/WSEI-Frameworki-Projekt/public/fonts/Olga-Regular/Olga-Regular.ttf.eot') format('truetype'),
         url('https://karmelova.github.io/WSEI-Frameworki-Projekt/public/fonts/Olga-Regular/Olga-Regular.ttf.woff') format('woff'),
         url('https://karmelova.github.io/WSEI-Frameworki-Projekt/public/fonts/Olga-Regular/Olga-Regular.ttf.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  a {
    font-family: 'Olga-Regular', sans-serif;
  }
  .logo{
    height: 2em;
    width: 40px;
    margin-right: 10px;
    fill: #d62246;
  }
  